<ul class="nav nav-pills nav-stacked span2">
  <li class="nav-header">书籍分类</li>
  <% if(curCata === 'all'){%>
  	<li class="active"><a href="/cata/all">全部书籍</a></li>
  <% }else {%>
  	<li><a href="/cata/all">全部书籍</a></li>
  <% }%>
<% for(var i=0; i<cata.length; i++) {%>
	<% if(curCata === cata[i].cname){%>
		<li class="active"><a href="/cata/<%= cata[i].cname %>"><%= cata[i].cname %></a></li>
	<% }else {%>
	  	<li><a href="/cata/<%= cata[i].cname %>"><%= cata[i].cname %></a></li>
	  <% }%>
<% } %>
</ul>

<div class="span8">
	<form action="/book/search" method="get" class="form-inline ">
		<input type="text" name="key" placeholder="内容及标题" class="input-large"/>
		<button type="submit" class="btn">搜索</button>
	</form>
</div>

<% if(books.length){ %>
	<div class="alert alert-info span8">共<%= books.length %>条记录</div>
<% }else { %>
	<div class="alert alert-info span8">非常抱歉，没有结果</div>
<% } %>


<ul class="span8">
<% for(var i=0; i<books.length; i++) {%>
   <li><a href="/book/<%= books[i]._id %>"><%= books[i].bookName %></a></li>
   <li><%= books[i].author %></li>
   <li><%= books[i].cata %></li>
<% } %>
</ul>
