<style>
	img{
		width: 50px;
	}
	footer{
		clear: both;
	}
</style>
<h1>管理中心</h1>

<ul class="nav nav-pills nav-stacked span2">
  <li ><a href="/admin">用户</a></li>
  <li ><a href="/admin/book">书籍</a></li>
  <li class="active" ><a href="/admin/salon">书评</a></li>
  <li ><a href="/admin/note">笔记</a></li>

  <li ><a href="/admin/tip">提醒</a></li>
</ul>

<div class="alert alert-info span8">共<%= salon.length %>条记录</div>
<!-- <div class="span8">
	<form action="/admin/salon/search" method="get" class="form-inline ">
		<input type="text" name="content" placeholder="内容及标题" class="input-large"/>
		<button type="submit" class="btn">搜索</button>
	</form>
</div> -->

<table class="table table-striped span8">
	 <tr>
	  <td>标题</td>
	  <td >内容</td>
	  <td>喜欢数</td>
	  <td>用户</td>
	  <td>来自</td>
	  <td>操作</td>
	</tr>
<% for(var i=0; i<salon.length; i++) {%>
	<tr>
	   <td><%= salon[i].title %></td>
	   <td style="width:200px;overflow:hidden"><%= salon[i].content %></td>
	   <td><%= salon[i].like.num ? salon[i].like.num : 0 %></td>
	   <td><%= salon[i].user.name %></td>
	   <td><a href="/book/<%= salon[i].bookid %>/salon/salon_<%=salon[i].time%>"><%= salon[i].bookName %></a></td>
	   
	   <td><a href="javascript:;" class="delete" time="<%= salon[i].time %>" bookid="<%= salon[i].bookid %>"  >删除</a></td>
	</tr>
<% } %>
</table>


<div class="modal hide fade" id="error">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>提示</h3>
  </div>
  <div class="modal-body">
    <p>删除出错，请重新操作</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</a>
  </div>
</div>

<script>

	$('.delete').bind('click',function(){
		var time = $(this).attr('time');
		var bid = $(this).attr('bookid');
		$.post('/book/'+bid+'/salon/salon_'+time+'/del',{'bookid':bid,'salonTime':time},function(req, res){
			if(res !=='success'){
				$('#error').show();
			}else{
				location.reload();
			}
			
		});
	});
</script>