<style>
	img{
		width: 50px;
	}
	footer{
		clear: both;
	}
</style>
<h1>管理中心</h1>

<ul class="nav nav-pills nav-stacked span2">
  <li ><a href="/admin">用户</a></li>
  <li ><a href="/admin/book">书籍</a></li>
  <li  ><a href="/admin/salon">书评</a></li>
  <li ><a href="/admin/note">笔记</a></li>

  <li class="active"><a href="/admin/tip">提醒</a></li>
</ul>
<div class="alert alert-info span8">共<%= tips.length %>条记录</div>
<table class="table table-striped span8">
	 <tr>
	  <td >用户</td>
	  <td>类型</td>
	  <td>链接</td>
	</tr>
<% for(var i=0; i<tips.length; i++) {%>
	<tr>
		<td><%= tips[i].relate.name %></td>
	   <td><%= tips[i].type %></td>
	   <td><a target="blank" href="<%= tips[i].url%>"><%= tips[i].urlTitle%></a></td>
	   
	</tr>
<% } %>
</table>

