<style>
	.table tbody tr.info > td {
	  background-color: #d9edf7;
	}
	.tip{
		list-style:none;
		background-color:#fff;
		border-top: 3px solid #1d88b4;
		border-bottom: 0px;
		margin-bottom: 25px;
	}
	.tip_header{
		font-size: 22px;
		color: #1d88b4;
		padding: 10px 10px;
	}
	.tip li{
		width: auto;
		border-bottom: 1px solid #ccc;
		position: relative;
		padding: 7px 10px;
		height:40px;
		font-size:16px;
	}
	.tip .unread{
		background:#eee;
	}
	
	.tip li span{
		float:right;
	}
</style>
<h1>我的提醒 </h1>
<div style="height:20px"></div>
<ul class=" span8 tip">
	<li class="tip_header">消息列表</li>
	<% for(var i=0; i<msg.length; i++) {%>
		<%if(msg[i].status===1){%>
			<li><%= msg[i].content%><a target="blank" href="<%= msg[i].url%>"><%= msg[i].urlTitle%></a></td>
				<span>已读</span>
			</li>
		<% } else {%>
			<li  class="info unread" mid ="<%=msg[i]._id%>">	
				<%= msg[i].content%><a class="url" mid ="<%=msg[i]._id%>" target="blank" href="javascript:;" adress="<%= msg[i].url%>"><%= msg[i].urlTitle%></a></td>
				<span>未读</span>
			</li>
		<% } %>
	<% } %>
</ul>


<div class="modal hide fade" id="error">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>提示</h3>
  </div>
  <div class="modal-body">
    <p>状态更新出错，请重新操作</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</a>
  </div>
</div>

<script>
	var read = function(mid,address){
		$.post('/readMsg',{'mid':mid},function(req, res){
			if(res !=='success'){
				$('#error').show();
			}else{
				location.href=address;
			}
			
		});
	};
	$(document).ready(function(){
		$('.unread').bind('click',function(){
			var mid = $(this).attr('mid');
			var adress = location.href;
			read(mid,adress);
		});

		$('.url').bind('click',function(event){
			event.preventDefault()
			event.stopPropagation(); 
			var mid = $(this).attr('mid');
			var adress = $(this).attr('adress');
			read(mid,adress);
		});
	});
</script>