<style>
	#pcontent{
		width:600px;
		position:relative;
	}
	.ptext{
		width100%;
	}
	#pcontent .pic{
		position:absolute;
		top:0;
		left:0;
		z-index:-1;
	}
	.psignal{
        background: #00b0f0;
        font-size: 18px;
        width: 20px;
        height: 20px;
        color: #fff!important;
        display: block;
        float: left;
        margin-right: 10px;
        cursor: pointer;
        visibility:hidden;
    }
    .pcanvas{
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
    }
    .panel{
    	background:#fff;
    	padding:20px;
    }
    .n_box{
    	margin-top:20px;
    	font-size:16px;
    }
    .comment{
		border-top:1px solid #eee;
		margin:0 20px;
	}
	.conmment_one{
		width:700px;
		min-height:80px;
	}
	.cmt_content{
		margin-top:20px;
		width:600px;
		background:#f6f6f1;
		float:left;
		border-radius:5px;
		min-height:60px;
		padding:10px;
		word-wrap:break-word;
		white-space:pre-line;
	}
	.traingle{
		margin-top:23px;
		width:0;
		height:0;
		display:block;
		border:10px solid #f6f6f1;
		border-color: transparent #f6f6f1 transparent transparent;
		float:left;
	}
	.cmt_del a{
		margin-left:700px;
	}
	.avatar_box{
		width:70px;
		height:70px;
		float:left;
		overflow:hidden;
		margin-right:20px;
		margin-top:10px;
	}
	.avatar_box img{
		width:100%;
	}
</style>
<a class="btn btn-large btn-warning" href="/book/<%= book._id%>/read?pid=<%=pid%>">返回</a>

	<div class="p_box">
		<div id="pcontent">
			<img class="pic" src="<%=note.pic%>"/>
			<div class="ptext"><%=note.pcontent.split('</span>')[1].split('<img')[0]%></div>
		</div>
	</div>
<div class="panel">
	<div class="n_box">
		<p>笔记内容:</p>
		<p ><%=note.content%></p>
		<p><%=note.user.name%>写于:<%= (new Date(note.time)).toString().substr(10,15)%></p>
		<% if(user.name == note.user.name){ %>
			<a class="edit btn btn-success">修改</a>
			<a class="del btn btn-success">删除</a>
		<%}%>
	</div>
	<hr>

	<div class="comment">
		<% for(var i=0;i<note.comment.length;i++){%>
			<div class="comment_one">
				<div class="avatar_box">
					<img src="/images/avatar/<%= note.comment[i].user.avatar %>"/>
				</div>
				<span class="traingle"></span>
				<p class="cmt_content"><%= note.comment[i].content %></p>
				<div style="clear:both"></div>
				<% if(user.name==note.comment[i].user.name){%>
					<p class="cmt_del"><a class="btn btn-success  delCmt" href="javascript:;" time="<%=note.comment[i].time%>" stime="<%=note.time%>" bid="<%=book._id%>" >删除</a></p>
				<% } %>
				
			</div>
		<% } %>
	</div>

	<form class="form-horizontal" method="post" action="/book/<%= book._id%>/note/<%=note.time%>/pubCmt">
	  <fieldset>
	  	<input type="hidden" value="<%=note.time%>" name="time"/>
	  	<input type="hidden" value="<%=book._id%>" name="bookid"/>
	  	<input type="hidden" value="<%=pid%>" name="pid"/>
	    <div class="control-group">
	      <label class="control-label" for="content">发表评论</label>
	      <div class="controls">
	        <textarea style="width:500px;height:80px;" type="text" class="input-xlarge" id="content" name="content"></textarea>
	      </div>
	    </div>
	    <div class="form-actions">
	      <button type="submit" class="btn btn-primary">发布</button>
	    </div>
	  </fieldset>
	</form>
</div>

<div id="editNote" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">段落笔记</h3>
  </div>
  <div class="modal-body">
    <textarea class="editeTextarea"></textarea>
  </div>
   <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary editSure">确定</button>
  </div>
</div>


<script>
	var pid = '<%=pid%>';
    var tid = '<%=note.time%>';
    var bid = '<%=book._id%>';
    var username = '<%=user.name%>';
    var pcontent = '<%=note.pcontent%>';
    var Tohtml = function (str) {
	    return str ? str.replace(/&((g|l|quo)t|amp);/g, function (m) {
	        return {
	            '&lt;':'<',
	            '&amp;':'&',
	            '&quot;':'"',
	            '&gt;':'>'
	        }[m]
	    }) : '';
	};
	$(document).ready(function(){
		$('.ptext').html(Tohtml(pcontent));

		$('.del').bind('click',function(){
            $.post('/delNote',{id:bid,pid:pid,tid:tid},function(data){
                location.href="/book/"+bid+'/read';
            });
		});

		$('.edit').bind('click',function(){
			$('#editNote').modal('show');
			$('.editeTextarea').val("<%=note.content%>");
		});

		$('.editSure').bind('click',function(){
			var content = $.trim($('.editeTextarea').val());
            $.post('/editNote',{id:bid,pid:pid,tid:tid,content:content},function(data){
                location.href="/book/"+bid+'/note/'+data['success'];
            });
		});

		$('.delCmt').bind('click',function(){
			var ctime = $(this).attr('time');
			$.post('/book/'+bid+'/note/'+tid+'/delCmt',{
					'bookid':bid,
					'tid':tid,
					'pid':pid,
					'name':username,
					'ctime':ctime
			},function(req, res){
				if(res !=='success'){
					$('#error').show();
				}else{
					location.reload();
				}
				
			});
		});

	});
</script>