
<h1><%= title%></h1>

<ul class="span10">

  <li>title:<%= salon.title %></li>
   <li>author:<%= salon.user.name %></li>
   <li>time:<%= salon.time %></li>
   <li>content:<%= salon.content %></li>

</ul>