
<h1><%= title%></h1>

<ul class="span10">

  <li>title:<%= salon.title %></li>
   <li>author:<%= salon.user.name %></li>
   <li>time:<%= salon.time %></li>
   <li>content:<%= salon.content %></li>
   <% if(isMine === true ){%>
		<li><a href="/book/<%= book._id%>/salon/salon_<%=salon.time%>/edit">修改</a></li>
		<li><a href="javascript:;" id="del">删除</a></li>
	<% }else  {%>
		<li><span id="likeNum"><%= salon.like.num %></span>人喜欢
		<% if(salon.like.num != 0 ){%>
			<span>ta 们是:
				<% for(var i=0;i<salon.like.users.length;i++){%>
					<%=salon.like.users[i]%>
				<%}%>
			</span>
		<%}%>
		<% if(canLike === 1 ){%>
			<a href="javascript:;" id="like">喜欢</a></li>
		<%}%>
	<%}%>
</ul>

<ul class="span10">
	<% for(var i=0;i<salon.comment.length;i++){%>
		<li>author:<%= salon.comment[i].user.name %></li>
		<li>content:<%= salon.comment[i].content %></li>
		<% if(user.name==salon.comment[i].user.name){%>
			<li><a href="javascript:;" time="<%=salon.comment[i].time%>" stime="<%=salon.time%>" bid="<%=book._id%>" class="delCmt">删除</a></li>
		<% } %>
	<% } %>
</ul>


<form class="form-horizontal" method="post" action="/book/<%= book._id%>/salon/salon_<%=salon.time%>/pubCmt">
  <fieldset>
  	<input type="hidden" value="<%=salon.time%>" name="time"/>
  	<input type="hidden" value="<%=book._id%>" name="bookid"/>
    <div class="control-group">
      <label class="control-label" for="content">发表评论</label>
      <div class="controls">
        <textarea type="text" class="input-xlarge" id="content" name="content"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">发布</button>
    </div>
  </fieldset>
</form>



<div class="modal hide fade" id="error">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>提示</h3>
  </div>
  <div class="modal-body">
    <p>删除出错，请重新操作</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</a>
  </div>
</div>


<script>
	$(document).ready(function(){
		
		$('#del').bind('click',function(){
			var time = <%= salon.time %>;
			$.post('/book/<%= book._id%>/salon/salon_<%=salon.time%>/del',{'salonTime':time,'bookid':'<%= book._id%>'},function(req, res){
				if(res !=='success'){
					$('#error').show();
				}else{
					location.href="/book/<%= book._id%>/salon/";
				}
				
			});
		});
		$('#like').bind('click',function(){
			var time = <%= salon.time %>;
			$.post('/book/<%= book._id%>/salon/salon_<%=salon.time%>/like',{'salonTime':time,'bookid':'<%= book._id%>'},function(req, res){
				if(res !=='success'){
					$('#error').show();
				}else{
					var num = $('#likeNum').text();
					$('#likeNum').text(++num);
					$('#like').unbind('click').bind('click',function(){
						alert('已喜欢!');
					});
				}
				
			});
		});

		$('.delCmt').bind('click',function(){
			var time = $(this).attr('time');
			var stime = $(this).attr('stime');
			var bookid = $(this).attr('bid');
			$.post('/book/<%= book._id%>/salon/salon_<%=salon.time%>/delCmt',{'time':time,'bookid':bookid,'stime':stime},function(req, res){
				if(res !=='success'){
					$('#error').show();
				}else{
					location.reload();
				}
				
			});
		});

	});
</script>