<style>
	#catalogue{
		border: 1px solid #000;
        display: none;
        position: absolute;
        background: #eee;
        right: 100px;
        width: 200px;
	}
    .cataList{
        float: left;
        width: 100%;
        display: block;
    }
	#content{
		width: 600px;
		overflow: hidden;
        margin: 0 auto;
        height: 100%;
	}
    #tool{
        position: fixed;
        top:120px;
    }
	.pone{
		margin: 0;
		line-height: 20px;
	}
    #pageWrap{
        height: 100%;
        position: relative;
        left: 0;
        top:0;
    }
    .page{
        width: 600px;
        float: left;
    }

    .psignal{
        background: #00b0f0;
        font-size: 18px;
        width: 20px;
        height: 20px;
        color: #fff!important;
        display: block;
        float: left;
        margin-right: 10px;
        cursor: pointer;
    }
    .theirs{
        display: none;
    }

    :-webkit-full-screen{
        width: 100%;
    }
    :-moz-full-screen {
        width: 100%;
        background: #fff;
    }
    :-moz-full-screen #tool {
        display: none;
    }
    :-webkit-full-screen #tool {
        display: none;
    }

</style>


<div id="hideContent" style="display:none"><%= book.content %></div> 

<ul id="tool">
    <li><a href="javascript:;" class="showCata">目录</a></li>
    <li><a href="/book/<%= book._id %>/salon" class="salan">长评</a></li>
    <li><a href="javascript:;" class="fullScreen">全屏</a></li>
    <li><a href="javascript:;" class="derection">横屏</a></li>
    <li>共<span id="total"></span>页</li>
    <li>当前<span id="curPage"></span>页</li>
    <li>跳转到<input id="jump" style="width:20px;"/>页</li>
    <li><a id="pre" href="javascript:;">上一页</a></li>
    <li><a id="next" href="javascript:;">下一页</a></li>
</ul>
<div id="catalogue"></div>

<div id="content">
   <div id="pageWrap"></div>
</div>



<div id="largeImg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">查看大图</h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>


<div id="notes" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">段落笔记</h3>
  </div>
  <div class="modal-body contents">
    
  </div>
 <!--  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">确定</button>
  </div> -->
</div>

<script>
   bookName = '<%=book.bookName%>';
   bid = "<%=book._id%>";
   username = "<%=user.name%>";
</script>
<script src="/javascripts/read.js"></script>
