<style>
	#catalogue{
		border: 1px solid #000;
        display: none;
        position: absolute;
        background: #eee;
        right: 100px;
        width: 200px;
        list-style:none;
	}
    .cataList{
        float: left;
        width: 100%;
        display: block;
        text-indent: -7px;
        overflow: hidden;
        font-size:16px;
        height:60px;
    }

	#content{
		width: 600px;
		overflow: hidden;
        margin: 0 auto;
        height: 100%;
        border:2px dashed;
	}
    #tool{
        position: fixed;
        top:120px;
    }
	.pone{
		margin: 0;
		line-height: 20px;
        position:relative;
        padding:10px;
        -webkit-user-select: none;
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */

          /* No support for these yet, use at own risk */
        -o-user-select: none;
        user-select: none; 
	}
    #pageWrap{
        height: 100%;
        position: relative;
        left: 0;
        top:0;
    }
    .page{
        width: 600px;
        float: left;
    }

    .psignal{
        background: #00b0f0;
        font-size: 18px;
        width: 20px;
        height: 20px;
        color: #fff!important;
        display: block;
        float: left;
        margin-right: 10px;
        cursor: pointer;
    }
    .theirs{
        display: none;
    }

    #drawPannel{
        position:fixed;
        right:100px;
        top:100px;
        display:none;
        width:200px;
        background:#fff;
    }
    #drawPannel h3{
        background: #1d88b4;
        color:#fff;
        padding:10px;
    }
    #drawPannel ul{
        list-style:none;
        padding:0;
        margin:0;
    }
    .drawPannel_tool li{
        margin-left:10px;
        height:40px;
        font-size:16px;
        margin-top:10px;
    }
    .pcanvas{
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
    }

    #draw{
        position:absolute;
        left:295px;
    }
    #pen_sample{
        display: block;
        width: 80px;
        height: 3px;
        background: #000;
        border-radius: 20px;
    }
    #canvas_colors{
        position:absolute;
        top:30px;
        background:#eee;
        display:none;
        width: 120px;
        left:60px;
    }
    #canvas_currentColor{
        width:20px;
        height:20px;
        background-color:#000;
        display:block;
    }
    #canvas_colors li{
        width:20px;
        height:20px;
        float:left;
        margin:10px;
        display:block;
        overflow: hidden;
    }
    #canvas_colors li a{
        background:#000;
        display:block;
        width:100%;
        height:100%;
        text-indent:99px;
    }
    #canvas_colors .yellow{
        background-color:#ffc40d;
    }
    #canvas_colors .green{
        background-color:green;
    }
    #canvas_colors .red{
        background-color:red;
    }
   #canvas_colors .purple{
        background-color:#7a43b6;
    }
    #canvas_colors .grayLight{
        background-color:#999;
    }
    #canvas_colors .blue{
        background-color:#049cdb;
    }

  #canvas_colors .white{
        background-color:#fff;
    }
    #canvas_colors .black{
        background-color:#000;
    }
    #canvas_colors .red{
        background-color:red;
    }
    #canvas_colors .errorBackground{
        background-color:#f2dede;
    }

    :-webkit-full-screen{
        width: 100%;
    }
    :-moz-full-screen {
        width: 100%;
        background: #fff;
    }
    :-moz-full-screen #tool {
        display: none;
    }
    :-webkit-full-screen #tool {
        display: none;
    }

    #chat{
        position:fixed;
        right:20px;
        bottom:100px;
        width:300px;
        height:200px;
        
    }
    #chatWin{
        width:100%;
        height:100%;
        background-color:#c09853;
        margin:0;
        list-style:none;
        margin:0;
        padding:0;
        word-wrap:break-word;
        white-space:pre-line;
        overflow-y:scroll;
        font-size:14px;
    }
     #chat h3{
        background: #1d88b4;
        color:#fff;
        padding:10px;
    }
    #tool{
        list-style:none;
        background:#fff;
        width:150px;
        margin-left:0;
    }
    #tool h3{
        background: #1d88b4;
        color:#fff;
        padding:10px;
        text-align:center;
    }
    #tool li{
        color:#000;
        line-height:40px;
        height:40px
        font-size:24px;
        border-bottom:1px solid #999;
        text-align:center;
    }
    .cata_nav li a,.cata_nav .nav-header{
        color:#000;
        line-height:40px;
        height:40px
        font-size:24px;
    }
  
    .nav-pills > li > a:hover{
        color:#000;
        border-radius:0px;
    }
    .nav-pills.nav-stacked > li > a{
        margin:0;
    }
    .page .curPageNum{
        float:right;
        margin:5px;
        font-size:18px;
    }
    .page .title{
        margin:5px;
        font-size:18px;
    }
    .showTheirs{
        display:block;
    }
    .mine{
        margin-top:10px;
    }
</style>

<a id="draw" class="btn btn-primary" href="javascript:;">涂鸦</a>
<div id="hideContent" style="display:none"><%= book.content %></div>

<ul id="tool" class="cata_nav nav nav-pills nav-stacked ">
    <h3>阅读工具箱</h3>
    <li><a href="javascript:;" class="showCata">目录</a></li>
    <li><a href="/book/<%= book._id %>/salon" class="salan">长评</a></li>
    <li><a href="javascript:;" class="fullScreen">全屏</a></li>
    <li><a href="javascript:;" class="derection">横屏</a></li>
    <li>
        <a id="pre" class="label-info" style="display:inline;" href="javascript:;">上一页</a>
        <a id="next" class="label-info" style="display:inline;"  href="javascript:;">下一页</a>
    </li>
    <li>跳转到<input id="jump" style="width:20px;"/>页</li>
    <div style="text-align:center;">共<span id="total"></span>页,当前<span id="curPage"></span>页</div>
</ul>



<ul id="catalogue"></ul>

<div id="content">
   <div id="pageWrap"></div>
</div>

<div id="drawPannel">
    <h3>绘图工具箱</h3>
    <ul class="drawPannel_tool">
        <li><a href="###" id="canvas_clear">清屏</a></li>
        <li>
            <a href="###" id="choose_color">颜色</a>
            <span id="canvas_currentColor"></span>
        </li>
        <li>笔画
            <a href="###" id="pen_large">粗</a>
            <a href="###" id="pen_small">细</a>
            <span id="pen_sample"></span>
        </li>
        <li><a href="###" class="btn btn-success" id="saveDrew">保存</a></li>
    </ul>
    <ul id="canvas_colors">
        <li><a href="###" class="red">red</a></li>
        <li><a href="###" class="green">green</a></li>
        <li><a href="###" class="purple">purple</a></li>
        <li><a href="###" class="blue">blue</a></li>
        <li><a href="###" class="grayLight">grayLight</a></li>
        <li><a href="###" class="yellow">yellow</a></li>
        <li><a href="###" class="errorBackground">errorBackground</a></li>
        <li><a href="###" class="white">pink</a></li>
        <li><a href="###" class="black">black</a></li>
    </ul>
</div>



<div id="largeImg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">查看大图</h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>


<div id="notes"  style="width:650px;" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">段落笔记</h3>
  </div>
  <div class="modal-body contents"  style="width:600px;" >
    
  </div>
 <!--  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn-primary">确定</button>
  </div> -->
</div>


<div id="chat">
    <h3 id="chatHand">即时通信</h3>
    <ul id="chatWin">

    </ul>
    <div id="chatPub">
        <textarea class="msgTextarea"></textarea>
        <span class="btn sendMsg btn-success">发送</span>
    </div>
    
</div>

<script>
   bookName = '<%=book.bookName%>';
   bid = "<%=book._id%>";
   username = "<%=user.name%>";
   imgDataList = "<%=images%>";
   imgNum = "<%=imgNum%>";
</script>
<script src="/javascripts/read.js"></script>
