<style>
  .single{
     margin-top:20px;
     background:#f6f6f1;
  }
  .single img{
    width:300px;
    float:left;
  }
  .single .desc{
    float:left;
    heigth:100px;
  }
  .fn{
    margin-left:50px;
  }
  .fn a{
    margin-left:40px;
  }
  .intro{
    margin-top:20px;
    
  }
  .intro p{
    text-indent:40px;
    font-size:16px;
  }

  .header{
    width:100%;
    height:120px;
    
    background:#fff;
    border-bottom:2px solid #1d88b4;
    float:right;
    margin-top:-8px;
  }
  .header .search_area{
    float:left;
    margin-top:40px;
  }
  .header h2{
    margin-top:40px;
  }

</style>
<div class="header">
  <div class="span2"><img src="/images/icon/logo.jpg" width="150"></div>
  <h2 class="span2">在线阅读社区</h2>
  <div class="span4 search_area" >
    <form action="/book/search" method="get" class="form-inline ">
      <input type="text" name="key" placeholder="内容及标题" class="input-large"/>
      <button type="submit" class="btn btn-warning ">搜索</button>
    </form>
  </div>
</div>


<div class="single span11">
   <div>
      <img src="<%= book.cover %>"/>
      <div class="desc">
        <div class="span5  hero-unit" style="margin-top:20px;background:#fff;">
            <h3>简介:</h3>
          <p>书名:<%= book.bookName %></p>
          <p>类别:<%= book.cata %></li></p>
          <p>作者:<%= book.descption %></li></p>
        </div>
        <div class="fn">
            <a href="/book/<%= book._id%>/salon" class="btn btn-success btn-large">书评</a>
             <a href="/book/<%= book._id%>/read" class="btn btn-success btn-large">阅读</a>
         </div>
        </div>
   </div>
   <div style="clear:both"></div>
   <div class="intro ">
      <h2 class="nav nav-tabs" style="margin-left:20px;">描述:</h2>
      <p><%= book.descption %></p>
   </div>
  
</div>

